* {
  background-color: seagreen;
  text-align: center;
  font-family: "Sriracha", cursive;
}

.centrl {
  font-family: "Roboto Slab", serif;
}

img {
  height: 700px;
  width: 700px;
}

/* unvisited link */
a:link {
  color: #ff0000;
}

/* visited link */
a:visited {
  color: #00ff00;
}

/* mouse over link */
a:hover {
  color: #ff00ff;
}

/* selected link */
a:active {
  color: #0000ff;
}
